<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/style.css">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <%- include ("partials/navbar") %>
    <div class="d-flex flex-column mt-5 bg-dark text-light min-vh-100" data-bs-theme="dark">
        <div class="container d-flex flex-column align-items-center justify-content-center bg-dark text-light" style="min-height: 75vh;">
            <br><h1>Dashboard</h1>
            <img src="/images/logo.jpeg" alt="Logo" class="img-fluid" style="width: 300px; height: auto;"><br>

            <h6>Welcome back <%= user.username %>! Fuel your goals with smarter food choices today.</h6><br>

            <div class="container p-4 my-3" style="border: 5px solid green; background-color: #222;">
                <h6>What are you craving today? Enter a food item to get started!</h6>
                <form action="/dashboard" method="POST">
                    <div class="input-group">
                        <input type="text" class="form-control" name="foodItem" placeholder="Enter food item" required>
                        <button class="btn btn-warning" type="submit">Search</button>
                    </div>
                </form>
            </div>

            <% if (alternative && alternative.length > 0) { %>
            <div class="container p-4 my-3 d-flex flex-column align-items-center justify-content-center" style="border: 5px solid blue; background-color: #222;">
                <h6>Here is a healthier alternative:</h6>
                <h6>Dish : <strong><%= alternative[0].alternativeDish %></strong></h6><br>
                <h6>Ingredients : </h6>
                <ul>
                    <% alternative[0].altRecipe[0].ingredients.forEach(function(ingredient) { %>
                        <li><%= ingredient %></li>
                    <% }); %>
                </ul><br>

                <h6>Instructions : </h6>
                <ul>
                    <% alternative[0].altRecipe[0].instructions.forEach(function(instruction) { %>
                        <li><%= instruction %></li>
                    <% }); %>
                </ul>
            </div>
            <% } %>
        </div>
    </div>
</body>
</html>